<div class="container-component {{class}}" style="background-color: {{backgroundColor}}; padding: {{padding}}">
    <div class="element-controls">
        <button class="btn btn-info btn-sm">More</button>
        <button class="btn btn-danger btn-sm">Delete</button>
        <select class="form-select add-child-type">
            <option value="container">Add Container</option>
            <option value="content">Add Content</option>
        </select>
        <button class="btn btn-primary btn-sm add-child">Add Child</button>
    </div>
</div>
